{% extends "layout.html" %}

{% block content %}

    <div class="row">
        {% for host in hosts %}
            <div class="card bg-info mb-3" style="width: 20rem;">
                {% if host["username"] == generous_arab["username"] %}
                    <h3><span class="badge badge-warning">Noblest Arab of the Month</span></h3>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ host['name'] }}</h5>
                    {% for service in host["services"] %}
                        <span class="badge badge-pill badge-primary">{{ service }}</span>
                    {% endfor %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ host['username'] }}</li>
                    <li class="list-group-item">{{ host['location'] }}</li>
                    <li class="list-group-item">
                        <a href="" class="btn btn-warning">
                            {{ host["overall_ratings"] }}
                        </a>
                    </li>
                </ul>
                <div class="list-group-item">
                    <a href="{{ url_for('review', user_id=host['id']) }}" class="btn btn-primary">Review</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}