{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="home-page" style="margin: 12rem auto;">
        <div class="row">
            <div class="red col-md-2">

            </div>
            <div class="col-md-10 display-4">
                <p class="green">Your UAE visit is on us</p>
                <p class="white">You are our precious guest</p>
                <p class="black">Come to the most tolerant and happiest country in the world</p>
            </div>
        </div>
        <div class="buttons">
            <a href="/register" class="btn btn-success mr-2">Register</a>
            <a href="/login" class="btn btn-warning btn-block">Login</a>
        </div>
    </div>
{% endblock %}