{% extends "layout.html" %}
{% block title %}
    Login
{% endblock %}

{% block content %}

    <h3>Log in or <a href="/register">create an account</a></h3>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username"
                   type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="user_type" id="user_type_host" value="host" checked>
            <label class="form-check-label" for="user_type_host">
                Host
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="user_type" id="user_type_guest" value="guest">
            <label class="form-check-label" for="user_type_guest">
                Guest
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

{% endblock %}